div
  p enter the following details to get started
  form(id='pageform' action='/processed' method='post')
    p user name
      input(type='text' name='userName')
    p password
      input(type='password' name='passWord')
    input(type='submit')
